/* Tailwind directives will be injected via PostCSS build */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS tokens can live here if needed */
@layer components {
  .gradient-complex {
    background: linear-gradient(
      to bottom,
      #4f4b60 0%,
      #6d6886 20%,
      #575078 34%,
      #36397e 98%
    );
  }

  .scroll-container {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 100%;
    mask: linear-gradient(
      to right,
      transparent 0%,
      black 10%,
      black 90%,
      transparent 100%
    );
    -webkit-mask: linear-gradient(
      to right,
      transparent 0%,
      black 10%,
      black 90%,
      transparent 100%
    );
  }

  .scroll-container::before,
  .scroll-container::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100px;
    z-index: 10;
    pointer-events: none;
  }

  /* .scroll-container::before {
    left: 0;
    background: linear-gradient(
      to right,
      rgba(79, 75, 96, 1) 0%,
      rgba(79, 75, 96, 0) 100%
    );
  }

  .scroll-container::after {
    right: 0;
    background: linear-gradient(
      to left,
      rgba(79, 75, 96, 1) 0%,
      rgba(79, 75, 96, 0) 100%
    );
  } */

  .scroll-content {
    display: inline-flex;
    animation: scroll 20s linear infinite;
    will-change: transform;
  }

  .scroll-content:hover {
    animation-play-state: paused;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50.75%);
    }
  }
}

@font-face {
  font-family: "BeautySalon";
  src: url("./assets/fonts/BeautySalon Script Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  src: url("./assets/fonts/proximanova_extrabold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ProximaNova";
  src: url("./assets/fonts/proximanova_regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.gradient-purple-blue {
  @apply bg-clip-text text-transparent;
  background-image: linear-gradient(112deg, #ebd2ff 0%, #5c9ad5 99%);
}

.gradient-purple-blue-reversed {
  @apply bg-clip-text text-transparent;
  background-image: linear-gradient(292deg, #ebd2ff 0%, #5c9ad5 99%);
}

.gradient-purple-lightblue {
  @apply bg-clip-text text-transparent;
  background-image: linear-gradient(
    170deg,
    #ffd1ff 21%,
    #bdf0ff 54%,
    #7171ff 100%
  );
}

.fade-bottom {
  mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
}

.fade-top {
  mask-image: linear-gradient(to top, black 50%, transparent 100%);
  -webkit-mask-image: linear-gradient(to top, black 50%, transparent 100%);
}
